<div class="header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-sm-6">
                <a href="/">
                    <div class="d-flex align-items-center">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Header Logo"
                            class="img-fluid logo">
                        <h1 class="header-text ml-3 mb-0">Wiki</h1>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-6 justify-content-between">
                <a href="/create_minion">
                    <div class="d-flex align-items-center justify-content-end">
                        <img src="{{ url_for('static', filename='img/button/plus.png') }}" alt="Create button"
                            class="img-fluid not_logo">
                        <h3 class="header-text ml-3 mb-0">Create</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
