{% extends 'base/not_main_page.html' %}

{% block content %}
    <div class="col-md-12">
        <h2>
            {{ object_db.name }}
        </h2>
        <div class="d-flex flex-row">
            <img class="objimg" src="{{ '/static/' + object_db.big_image_url }}" alt="{{ object_db.name }}">
            <div class="d-flex flex-column justify-content-center my-3">
                {% for text in object_db.long_description %}
                    <p>
                        {{ text }}
                    </p>
                {% endfor %}
            </div>
        </div>
        {% if object_db.bibliography is defined and object_db.bibliography|length > 0 %}
            <h2>
                Список литературы:
            </h2>
            <ol class="list-group">
                {% for link in object_db.bibliography %}
                    <li class="list-group-item">
                        <a href="{{ link[0] }}">
                            {{ link[1] }}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
{% endblock %}
